.cat-clear {
  padding-top: 15rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cat-clear .cat {
  letter-spacing: 2px;
}

.cat-clear .clear-btn {
  background: linear-gradient(tomato, red);
  border: none;
  color: #fff;
  padding: 0.3rem 0.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
}

.cat-clear .clear-btn:hover {
  background: linear-gradient(red, tomato);
}

.cat,
.err {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 0;
}

.err {
  letter-spacing: 1px;
  padding-top: 8rem;
}

@media only screen and (max-width: 1024px) {
  .cat-clear {
    padding-top: 11rem;
  }
}

@media only screen and (max-width: 786px) {
  .cat-clear {
    padding-top: 9rem;
  }
}

@media only screen and (max-width: 640px) {
  .cat-clear {
    padding-top: 9rem;
  }
}
