.navigation {
  width: 100vw;
  height: 75px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;

  &__main {
    width: 1280px;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.5rem;

    span {
      font-size: 0.8rem;
    }

    /*background: linear-gradient(to right, red, orange, tomato, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;*/
  }

  &__title:hover {
    transform: rotate(-3deg);
    transition: var(--transition);
  }

  &__category-length {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__category {
    text-transform: uppercase;
    margin: 0;
    margin-right: 0.5rem;
    letter-spacing: 1px;
  }

  &__length {
    margin: 0;
  }

  &__list {
    display: flex;
  }

  &__filter {
    margin: 0;
    margin-right: 2rem;
    display: none;
  }

  &__list p {
    cursor: pointer;
    letter-spacing: 2px;
    margin: 0;
    /*padding: 0.5rem 0.8rem;*/
    margin-left: 1rem;
    user-select: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;

    span {
      display: inline-block;
      padding: 0.5rem 0.8rem;
      padding-left: 0;
    }
  }

  &__list .more {
    display: none;
  }

  &__list p:hover {
    box-shadow: 0 0 20px tomato;
    transition: var(--transition);
  }

  &__list a {
    text-decoration: none;
    color: #fff;
  }

  &__list i {
    font-size: 0.8rem;
    margin: 0 0.5rem;
  }

  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .wish-link {
      a {
        display: inline-block;
        padding: 0.3rem 0.8rem;
        padding-right: 0.3rem;
      }
      span {
        display: inline-block;
        border-radius: 50px;
        padding: 0.3rem 0.5rem;
        margin-left: 0.5rem;
        background: linear-gradient(tomato, red);
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .navigation {
    width: 100%;

    &__main {
      width: 100%;
    }

    &__filter {
      display: flex;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navigation {
    &__title {
      margin: 0;
    }

    &__list p {
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 0.7rem;

      span {
        display: block;
        padding: 0.2rem 0.5rem;
      }
    }

    &__list i {
      padding-top: 0.4rem;
      padding-bottom: 0rem;
      margin: 0rem;

      font-size: 0.7rem;
    }

    &__list .more {
      display: flex;
    }
  }
}

@media screen and (max-width: 786px) {
  .navigation {
    top: unset;
    bottom: 0;
    height: 55px;

    &__list p {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding: 0rem;
      text-transform: capitalize;

      font-weight: 400;

      span {
        padding: 0;
      }
    }

    &__list p:hover {
      box-shadow: none;
      transition: var(--transition);
    }

    &__list i {
      padding: 0;
      padding-bottom: 0.4rem;
    }

    &__title {
      display: none;
    }

    &__options {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .wish-link {
        display: none;
      }
    }
  }
}

/*@media screen and (max-width: 640px) {
  .navigation {
    &__list p {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        display: block;
      }
    }

    &__list i {
      font-size: 0.8rem;
      margin-right: 0rem;
    }
  }
}*/
