.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  opacity: 1;
  transform: scale(0);
  transition: var(--transition);

  &__back {
    text-decoration: none;
    letter-spacing: 1px;

    h4 {
      font-weight: 500;
      margin: 0;
      margin-top: 2rem;
    }

    h4 i {
      margin-right: 0.5rem;
    }
  }

  &__back:hover {
    color: tomato;
  }

  &__title h1 {
    margin-bottom: 2rem;
    letter-spacing: 2px;
  }

  &__form {
    width: 350px;
    max-width: 350px;
    padding: 2rem;
    letter-spacing: 1px;
    border-radius: var(--border-radius);
    border-top: 5px solid var(--tomato);

    &-label {
      display: block;
      margin: 30px auto;

      &-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .eye {
          cursor: pointer;
        }
      }

      &-name,
      &-email,
      &-password {
        display: block;
        margin-bottom: 6px;
        font-weight: 500;
      }

      &-input {
        padding: 8px 6px;
        font-size: 1em;
        color: gray;
        width: 100%;
        border: none;
        border-radius: 3px;
      }

      &-input:focus {
        outline: none;
      }
    }

    &-btn {
      padding: 0.4rem 0.5rem;
      border-radius: 5px;
      margin-right: 1rem;
      font-size: 1rem;
      letter-spacing: 1px;
      cursor: pointer;
      border: none;
      font-weight: 500;
      transition: var(--transition);
    }

    &-btn:hover {
      background: var(--tomato);
      color: #fff;
    }

    &-ask {
      font-weight: 500;
      &-link {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        padding: 0.2rem 0.5rem;
        border-radius: 50px;
        transition: var(--transition);
      }

      &-link:hover {
        color: var(--tomato);
      }
    }

    &-error {
      margin-top: 1rem;
      font-weight: 300;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 640px) {
  .login {
    overflow: auto;
    &__back {
      margin-top: 2rem;

      h4 i {
        margin-right: 0.5rem;
      }
    }

    &__form {
      width: 280px;
      max-width: 280px;
      margin-bottom: 2rem;
    }
  }
}
