.log-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  /*z-index: 10;
  transform: translateX(100%);*/
  transition: var(--transition);
  overflow: hidden;

  .logout {
    /*position: fixed;
  top: 3.5rem;
  right: 0;
  z-index: 10;*/
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 250px;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    padding: 1rem;
    /*transform: translateX(0%);*/
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%);

    h4 {
      font-weight: 500;
      text-align: center;
    }

    &__options {
      display: flex;
      align-items: center;
      justify-content: center;

      h5 {
        cursor: pointer;
        margin: 1rem;
        width: 40px;
        height: 25px;
        position: relative;
        border-radius: var(--border-radius);
        font-weight: 500;
        transition: var(--transition);

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      h5:hover {
        box-shadow: 0 0 20px tomato;
      }
    }
  }
}

/*@media screen and (max-width: 640px) {
  .logout {
    top: unset;
    bottom: 5.8rem;
  }
}*/
