.logout {
  position: fixed;
  top: 3.5rem;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transform: translateX(100%);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  letter-spacing: 1px;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  h4 {
    font-weight: 500;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      cursor: pointer;
      margin: 1rem;
      width: 40px;
      height: 25px;
      position: relative;
      border-radius: var(--border-radius);
      font-weight: 500;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .logout {
    top: unset;
    bottom: 5.8rem;
  }
}
