.full {
  min-height: 100vh;
}

.search {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 3.2rem;
  left: 0;
  z-index: 1;
  width: 100vw;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.search label {
  letter-spacing: 1px;
  margin-top: 1rem;
}

.search form {
  border-radius: 3px;
  margin: 2rem;
  border-radius: var(--border-radius);
}

.search form input {
  padding: 0.8rem 1rem;
  border: none;
  background: transparent;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  width: 500px;
}

.search form .form-input:focus {
  outline: none;
}

.search form .form-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  padding-left: 0.2rem;
}

.search form .form-input:focus::placeholder {
  color: transparent;
}

.search .mode-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.search p i {
  font-size: 1.2rem;
}

::placeholder {
  letter-spacing: 1px;
  font-weight: 500;
}
@media only screen and (max-width: 1024px) {
  .search {
    top: 3.05rem;
  }
}

@media only screen and (max-width: 640px) {
  /*.search {
    top: 3.05rem;
  }

  .search form {
    margin: 0.5rem;
  }

  .search form input {
    padding: 0.5rem 0.5rem;
    width: 80vw;
  }

  ::placeholder {
    font-size: 0.7rem;
  }

  .search p i {
    font-size: 1rem;
  }*/
  .search form {
    margin: 1rem 0;
  }

  .search form input {
    width: 80vw;
  }
}

.darkSearch {
  background: rgb(13, 37, 63);
  background: #001124;
}

.lightSearch {
  background: rgb(220, 220, 220);
}

.darkInputSearch {
  background: rgb(13, 37, 63);
}

.lightInputSearch {
  background: #fff;
}

.darkColorSearch {
  color: rgb(13, 37, 63);
}

.lightColorSearch {
  color: #fff;
}
