.sideMenu {
  position: fixed;
  width: 100vw;
  height: 75px;
  top: 75px;
  left: 0;
  z-index: 3;

  &__main {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  &__results {
    margin: 0;
    margin-top: 1rem;
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    &-counter {
      margin: 0;
      margin-left: 0.5rem;
      letter-spacing: 1px;
      height: 35px;
      width: 35px;
      position: relative;
      border-radius: 50%;

      span {
        font-size: 0.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0.8rem 0;
    margin: 0;

    &-number {
      margin: 0;
      padding: 0;
      font-weight: 500;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      border-radius: 50px;
      margin-right: 0.5rem;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }

  &__list li {
    margin-right: 2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 0.3rem;
    /*border-radius: 50px;*/
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list li:hover {
    transform: scale(1.05);
    transition: var(--transition);
  }

  &__list li a {
    text-decoration: none;
  }

  &__wishlists a {
    background: linear-gradient(tomato, red);
    color: #fff;
    padding: 0.4rem 0.5rem;
    border-radius: 50px;

    span {
      font-weight: 500;
      padding: 0 0.5rem;
      border-radius: 50px;
      margin-left: 0.5rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  .sideMenu {
    &__list li {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .sideMenu {
    display: none;
  }
}

.red {
  border-left: 5px solid #000;
}

.activeCategory {
  /*box-shadow: 0 0 10px tomato;*/
  border-bottom: 2px solid tomato;
}
