.sideMenu {
  position: fixed;
  width: 100vw;
  height: 75px;
  top: 75px;
  left: 0;
  z-index: 3;

  &__main {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__results {
    margin: 0;
    margin-top: 1rem;
  }

  &__filter {
    display: flex;
    margin: 0;
    padding: 0;

    &-counter {
      margin: 0;
      margin-left: 1rem;
      letter-spacing: 1px;
      height: 40px;
      width: 40px;
      position: relative;
      border-radius: 50%;

      span {
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
  }

  &__list li {
    margin-right: 1.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
  }

  &__list li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  &__list li a {
    text-decoration: none;
  }

  &__wishlists a {
    background: tomato;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .sideMenu {
    display: none;
  }
}

.red {
  border-left: 5px solid #000;
}

.activeCategory {
  transform: scale(1.1);
  font-weight: bold;
}
