.pagination {
  position: fixed;
  top: 4.2rem;
  left: 0;
  border: none;
  padding: 1rem;
  border-radius: 50px;
  margin-left: 56%;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.2rem 1rem;

    .up,
    .down {
      display: none;
    }

    .paginationItem {
      height: 27px;
      width: 27px;
      position: relative;
      margin: 0.5rem;
      cursor: pointer;
      border-radius: 50%;
    }

    .paginationItem:hover {
      transform: scale(1.1);
    }
  }
}

.prevNextDark {
  border: none;
  background: var(--light-color-1);
  color: var(--dark-color-1);
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}

.prevNextLight {
  background: var(--dark-color-2);
  border-radius: 50%;
  border: none;
  color: var(--light-color-1);
  margin: 0.5rem;
  cursor: pointer;
  background: transparent;
}

.prevNextDark:hover,
.prevNextLight:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  border-radius: 50%;
  border: none;
  background: none;
  margin: 0 0.3rem;
}

.dbg {
  background: rgba(13, 37, 63, 0.95);
  box-shadow: 0 0 2px rgb(220, 220, 220);
}

.lbg {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 2px #0d253f;
}

.darkActive {
  background: var(--dark-color-2);
  /*border: 2px solid var(--dark-color-2);*/
  color: var(--light-color-1);
  /*box-shadow: 0 0 10px var(--dark-color-2);*/
  pointer-events: none;
  border: none;
}

.lightActive {
  background: var(--light-color-1);
  /*border: 2px solid var(--light-color-1);*/
  color: var(--dark-color-2);
  /*box-shadow: 0 0 10px var(--light-color-1);*/
  pointer-events: none;
  border: none;
}

.darkNumber {
  background: var(--light-color-1);
  color: var(--dark-color-2);
  box-shadow: 0 0 5px var(--dark-color-2);
  /*border: 2px solid var(--dark-color-2);*/
  border: none;
}

.lightNumber {
  background: var(--dark-color-1);
  color: var(--light-color-1);
  box-shadow: 0 0 5px var(--light-color-1);
  /*border: 2px solid var(--light-color-1);*/
  border: none;
}

@media screen and (max-width: 1280px) {
  .pagination {
    width: 100vw;
    top: unset;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 0.5rem;

    .inner {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .pagination {
    top: unset;
    bottom: 2.8rem;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 640px) {
  .pagination {
    bottom: 3.6rem;
    /*border-bottom: 2px solid #000;*/

    .inner {
      padding: 0;
      .paginationItem {
        width: 25px;
        height: 25px;
      }
    }
  }

  .prevNextDark,
  .prevNextLight {
    margin: 0.2rem;
  }
}

/*.lightBo {
  box-shadow: 0 0 50px 10px var(--light-color-1);
}

.darkBo {
  box-shadow: 0 0 50px 10px var(--dark-color-2);
}*/

.transparent {
  background: transparent;
}
