.pagination {
  width: 10vw;
  position: fixed;
  bottom: 0%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 0.2rem 0;*/
  transform: translate(-50%, 0);
  border-radius: 50px;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.3rem 1rem;
    border: none;

    .up,
    .down {
      display: none;
    }

    .paginationItem {
      height: 27px;
      width: 27px;
      position: relative;
      margin: 0.5rem;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}

.prevNextDark {
  border: none;
  background: var(--light-color-1);
  color: var(--dark-color-1);
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}

.prevNextLight {
  background: var(--dark-color-2);
  border-radius: 50%;
  border: none;
  color: var(--light-color-1);
  margin: 0.5rem;
  cursor: pointer;
  background: transparent;
}

.prevNextDark:hover,
.prevNextLight:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  border-radius: 50%;
  border: none;
  background: none;
  margin: 0 0.3rem;
}

.dbg {
  background: rgba(13, 37, 63, 0.95);
  box-shadow: 0 0 2px rgb(220, 220, 220);
}

.lbg {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 2px #0d253f;
}

.darkActive {
  background: var(--light-color-1);
  border: 2px solid var(--dark-color-2);
  color: var(--dark-color-1);
  pointer-events: none;
}

.lightActive {
  background: var(--dark-color-2);
  border: 2px solid var(--light-color-1);
  color: var(--light-color-1);
  pointer-events: none;
}

.darkNumber {
  background: var(--dark-color-2);
  color: #fff;
  border: none;
}

.lightNumber {
  background: var(--light-color-2);
  color: var(--dark-color-1);
  border: none;
}

@media screen and (max-width: 1280px) {
  /*.pagination {
    width: 100vw;
  }*/
}

@media screen and (max-width: 1024px) {
  .pagination {
    bottom: 2.8rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 640px) {
  .pagination {
    bottom: 2.5rem;
    border-bottom: 2px solid #000;
    padding: 0;

    .inner {
      padding: 0;
      .paginationItem {
        width: 25px;
        height: 25px;
      }
    }
  }

  .prevNextDark,
  .prevNextLight {
    margin: 0.2rem;
  }
}

.lightBo {
  box-shadow: 0 0 50px 10px var(--light-color-1);
}

.darkBo {
  box-shadow: 0 0 50px 10px var(--dark-color-2);
}
