.pagination {
  /*position: fixed;
  z-index: 1;
  width: 100vw;
  height: 75px;
  top: 150px;
  left: 0;*/
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

    /*padding: 0.5rem 1rem;*/
    /*margin-left: -1rem;*/

    .prev,
    .next {
      margin: 0 0.5rem;
    }

    .up,
    .down {
      display: none;
    }

    .paginationItem {
      height: 27px;
      width: 27px;
      position: relative;
      margin: 0 0.5rem;
      cursor: pointer;
      border-radius: 50%;
    }

    .paginationItem:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1280px) {
  .pagination {
    position: fixed;
    z-index: 1;
    height: 55px;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-radius: 0;

    .inner {
      margin-right: 0;
      padding: 0.5rem 1rem;
      background: transparent !important;
    }
  }
}

@media screen and (max-width: 786px) {
  .pagination {
    top: unset;
    bottom: 55px;
    height: 55px;
    width: 100vw;

    .inner {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .prevNextDark,
  .prevNextLight {
    margin: 0.2rem;
  }
}

.prevNextDark {
  border: none;
  background: var(--dark-color-1);
  color: var(--light-color-2);
  margin: 0rem 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  padding: 0;
}

.prevNextLight {
  background: var(--light-color-2);
  border-radius: 50%;
  border: none;
  color: var(--dark-color-1);
  margin: 0rem 0.5rem;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.prevNextDark:hover,
.prevNextLight:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  border-radius: 50%;
  border: none;
  background: none;
  padding: 0;
}

.dbg {
  background: rgba(13, 37, 63, 0.95);
  box-shadow: 0 0 2px rgb(220, 220, 220);
}

.lbg {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 2px #0d253f;
}

.darkActive {
  background: var(--light-color-2);
  /*border: 2px solid var(--dark-color-2);*/
  color: var(--dark-color-2);
  box-shadow: 0 0 2px var(--light-color-2);
  pointer-events: none;
  border: none;
}

.lightActive {
  background: var(--dark-color-1);
  /*border: 2px solid var(--light-color-1);*/
  color: var(--light-color-2);
  box-shadow: 0 0 2px var(--dark-color-1);
  pointer-events: none;
  border: none;
}

.darkNumber {
  background: var(--dark-color-1);
  color: var(--light-color-2);
  box-shadow: 0 0 5px var(--light-color-2);
  /*border: 2px solid var(--dark-color-2);*/
  border: none;
  padding: 0;
}

.lightNumber {
  background: var(--light-color-2);
  color: var(--dark-color-1);
  box-shadow: 0 0 5px var(--dark-color-1);
  /*border: 2px solid var(--light-color-1);*/
  border: none;
  padding: 0;
}

.transparent {
  background: transparent;
}

.whiteShade {
  background: rgb(180, 180, 180);
  background: tomato;
}
